.App {
  text-align: center;
}
.team-row {
  display: grid;
  grid-template-columns: 0.2fr 10fr 1fr;
}
.team-row .name {
  justify-self: start;
}

.fixture{
  margin:1rem 0;
  border-radius: 10px;
  border:2px solid;
  background-color: lightgray;
}
.nav-links{
  text-decoration: none;
}